@font-face {
  font-family: 'Amsterdam Four';
  src: url('fonts/Amsterdam.woff2') format('woff2'),
       url('fonts/Amsterdam.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}